<script>
  import { fade } from "svelte/transition";
  import Question from "$lib/Question.svelte";
  import Modal from "$lib/Modal.svelte";
  import { score } from "../store.js";

  let active_question = 0;
  let quiz = get_quiz();
  let is_modal_open = false;

  async function get_quiz() {
    const res = await fetch("https://opentdb.com/api.php?amount=10&type=multiple");
    const quiz = await res.json();
    return quiz;
  }

  function next_question() {
    active_question += 1;
  }

  function reset_quiz() {
    is_modal_open = false;
    score.set(0);
    active_question = 0;
    quiz = get_quiz();
  }

  // This is a reactive statment. The $: denotes a labeled statment in JS.
  $: if ($score > 2) {
    is_modal_open = true;
  }
</script>

<style>
  .fade_wrapper {
    position: absolute;
  }
</style>

<div>
  <h1>Level Up Tutorials: Svelte For Beginners (Quiz)</h1>

  <button on:click={reset_quiz}>
    Start New Quiz
  </button>

  <h2>My Score: {$score}</h2>
  <h3>Question #{active_question + 1}</h3>

  {#await quiz}
    Loading... 
  {:then data} 
    {#each data.results as question, index}
      {#if index === active_question}
        <div transition:fade class="fade_wrapper">
          <Question {next_question} {question} />
        </div>
      {/if}
    {/each}
  {/await}
</div>

{#if is_modal_open}
  <Modal on:close={reset_quiz}>
    <h2>You Won!</h2>
    <p>Congratulations</p>
    <button on:click={reset_quiz}>Start Over</button>
  </Modal>
{/if}
