<script>
  import { fly, fade} from "svelte/transition";
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();
</script>

<style>
  .modal_bg {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .modal {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
  }
</style>

<div class="modal_bg" transition:fade>
  <div class="modal" transition:fly={{ y: 200 }}>
    <button
      on:click={() => {
        dispatch("close");
      }}>
      Close
    </button>

    <slot />
  </div>
</div>
