<script>
  import { score } from "../store.js";

  export let question;
  export let next_question;

  let is_correct;
  let is_answered = false;
  let answers = question.incorrect_answers.map (answer => {
    return {
      answer,
      correct: false
    }
  });

  let all_answers = [
    ...answers,
    {
      answer: question.correct_answer,
      correct: true
    }
  ];
  shuffle(all_answers);

  function shuffle(array) {
    array.sort(() => Math.random() - 0.5);
  }

  function check_question(correct) {
    if (!is_answered) {
      is_correct = correct;
      is_answered = true;
      if (correct) {
        score.update(val => val + 1);
      }
    }
  }
</script>

<style>
  .is_correct {
    color: green;
  }

  .is_wrong {
    color: red;
  }
</style>

<h4>{@html question.question}</h4>

{#if is_answered}
  <!-- <h4 class={is_correct ? "correct" : "wrong"}> -->
  <h4 class:is_correct class:is_wrong={!is_correct}>
    {#if is_correct}
      Correct
    {:else}
      Wrong   
    {/if}
  </h4>
{/if}

{#each all_answers as answer}
  <button on:click={() => check_question(answer.correct)}>
    {@html answer.answer}
  </button>
{/each}

{#if is_answered}
  <div>
    <button on:click={next_question}>Next Question</button>
  </div>
{/if}
